.widget-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: stretch;
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}




.position-widget {
    width: 35%;/* splits box up but makes smaller*/
    height: calc(100%); /*gets rid of non space used by widget so we can add more if needed */         
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    line-height: 30px; /* added better spacing for stock widgets*/
    letter-spacing: 1px; /* spacing */
  }
.ticker {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

.position-table th,
.position-table td {
      margin: 0; /* Remove margin, if any, from table cells */
      text-align: left; /* Default text alignment for both header and data */
      border: none; /* Optional: remove default border styling */
  }


.position-table {
    padding-left: 0;
    margin: 0;
}

.pnL-positive {
    color: green;
    font-weight: bold;
}

/* Negative PnL - Red */
.pnL-negative {
    color: red;
    font-weight: bold;
}


/* Buy/Sell Widget */
.buy-sell-widget {
  width: 60%; 
  height: 90%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 10px; 
}

/* Dropdown Menu Styling */
.order-type-dropdown {
  width: 80%; /* Matches button size */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

/* Buy and Sell Buttons */
.buy-button,
.sell-button {
  width: 80%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.buy-button {
  background-color: #2ea44f; 
  color: white;
}

.buy-button:hover {
  background-color: #22863a; 
}

.sell-button {
  background-color: #d73a49; 
  color: white;
}

.sell-button:hover {
  background-color: #b5272c; 
}